<div class="header">
  <div><img [attr.src]="server+world.logo" /></div>
  <div> argent <span [innerHTML]="world.money | bigvalue"> </span></div>
  <div> ID du joueur : </div>
  <div> multiplicateur : <button class="bouton" (click)="achatm()">{{qtmulti}}</button> </div>
</div>
<div class="main">
  <div> liste des boutons de menu </div>
  <div class="product">
    <div class="test">
      <app-product [prod]="world.products.product[0]" class="product col-md-6 " (notifyProduction)="onProductionDone($event)" (notifyPurchase)="onPurchaseDone($event)"
      [qtmulti]="qtmulti" [money]="world.money"></app-product>
      <app-product [prod]="world.products.product[1]" class="product col-md-6" (notifyProduction)="onProductionDone($event)" (notifyPurchase)="onPurchaseDone($event)"
      [qtmulti]="qtmulti" [money]="world.money"></app-product>
      <app-product [prod]="world.products.product[2]" class="product col-md-6" (notifyProduction)="onProductionDone($event)" (notifyPurchase)="onPurchaseDone($event)"
      [qtmulti]="qtmulti" [money]="world.money"></app-product>
    </div>
    <div class="tests">
      <app-product [prod]="world.products.product[3]" class="product col-md-6" (notifyProduction)="onProductionDone($event)" (notifyPurchase)="onPurchaseDone($event)"
      [qtmulti]="qtmulti" [money]="world.money"></app-product>
      <app-product [prod]="world.products.product[4]" class="product col-md-6" (notifyProduction)="onProductionDone($event)" (notifyPurchase)="onPurchaseDone($event)"
      [qtmulti]="qtmulti" [money]="world.money"></app-product>
      <app-product [prod]="world.products.product[5]" class="product col-md-6" (notifyProduction)="onProductionDone($event)" (notifyPurchase)="onPurchaseDone($event)"
      [qtmulti]="qtmulti" [money]="world.money"></app-product>
    </div>
  </div>
</div>