.header {
    display: grid;
    grid-template-columns: 25% 25% 30% 20%;
    }
   .main {
    display: grid;
    grid-template-columns: 20% 80%;
    }
   .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
img{
    width: 100px;
    height: 100px;
    border-radius: 50%
}
app-product{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
.test{
position: absolute;
bottom : -10px
}
