img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
.progressbar{
    height : 20px;
}

.switch{
    margin-bottom: 50px;
}

.titreProduit{
    font-weight: bold;
}

.tdroite{
    left:70%; 
    margin-left: 10px;

}