<div><img [attr.src]="server+product?.logo" (click)="startFabrication()" />
    <mat-progress-bar class="progressbar" [value]="progressbarvalue"></mat-progress-bar>
</div>
<p>{{product.name}}</p>

<div [ngSwitch]="_qtmulti">
    <button class="bouton" *ngSwitchCase="'X1'" [disabled]="quantitemax < 1" (click)="achat()">Acheter 1</button>
    <button class="bouton" *ngSwitchCase="'X10'" [disabled]="quantitemax < 10" (click)="achat()">Acheter 10</button>
    <button class="bouton" *ngSwitchCase="'X100'" [disabled]="quantitemax < 100" (click)="achat()">Acheter 100</button>
    <button class="bouton" *ngSwitchCase="'XMAX'" [disabled]="quantitemax <= 0" (click)="achat()">Acheter {{quantitemax}}</button>

    <p>{{this.product.cout|number:"1.0-1"}}</p>
</div>